{% macro render_header() %}
<a class="site-logo" href="{{ get_url(path="/") }}">
    <span class="brand-mark" aria-hidden="true">
        <img src="{{ get_url(path="acton-mark.svg") }}" alt="">
    </span>
    <span>Acton</span>
</a>

<nav class="site-nav" aria-label="Primary navigation">
    <a class="nav-item" href="https://github.com/actonlang/acton">GitHub</a>
    <a class="nav-item" href="{{ get_url(path="/blog") }}">Blog</a>
    <a class="nav-item" href="https://acton.guide/">Guide</a>
    <a class="nav-item" href="https://play.acton.guide/">Play</a>
    <a class="nav-item" href="https://ask.acton.guide/">Ask</a>
</nav>
{% endmacro render_header %}
