{% import "_macros.html" as macros %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ section.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block favicon %}
    <link rel="icon" type="image/png" href="/favicon.ico">
    {% endblock favicon %}
    {% include "_variables.html" %}
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/juice.css">
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block header %}

    <header class="pos-absolute" style="background-color: transparent">
        {{ macros::render_header() }}
    </header>

    <div class="hero" style="overflow: hidden;">
        {% block hero %}
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <section class="text-center" style="margin-top: 4em">
            <h1 class="heading-text" style="font-size: 50px; border-left: none;">
                Distributed cloud systems made easy
            </h1>
            <h3 class="title-text" style="border-left: none;">
                <b>Acton</b> is a fault tolerant distributed programming platform for building mission critical systems. The easy way.
            </h3>
            <!--
            <div>
                <a class="github-button" href="https://github.com/actonlang/acton" data-size="large" data-show-count="true"
                   aria-label="Star actonlang/acton on GitHub">Star</a>
                <a class="github-button" href="https://github.com/actonlang/acton/fork" data-size="large"
                   data-show-count="true" aria-label="Fork actonlang/acton on GitHub">Fork</a>
            </div>
            -->
        </section>
        <img class="hero-image" style="width: 50%; margin-right: 10em; max-height: 80%;" src="{{ get_url(path="logo.svg") }}">

        <div class="explore-more text"
            onclick="document.getElementById('features').scrollIntoView({behavior: 'smooth'})">
            Explore More ⇩
        </div>
        <style>
            .hero section {
                padding: 0 5rem;
            }
            @media screen and (max-width: 768px) {
                .hero section {
                    padding: 0 2rem;
                }

                .hero-image {
                    display: none
                }
            }
        </style>
        {% endblock hero %}
    </div>

    {% endblock header %}

    <main style="flex-direction: column;">
        <section class="section section-sm justify-content-center" style="display: flex;">
            <div class="content text">
                <h1 style="font-size: 80px; line-height: 1em;">
                    Why Acton?
                </h1>
                {% if section.extra.list %}
                <div class="row justify-content-center" style="margin-bottom: 100px;">
                    {% for val in section.extra.list %}
                    <div class="col-lg-3">
                    <h2 class="h4">{{ val.title }}</h2>
                    <p>{{ val.content | safe }}</p>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                {% block content %}
                {{ section.content | safe }}
                {% endblock content %}
            </div>
        </section>
    </main>

    <main style="background-color: var(--tertiary-color);">
        <section class="section section-sm justify-content-center" style="display: flex;">
            <div class="content text">
                <h1 style="font-size: 80px; line-height: 1em;">
                    Get involved
                </h1>
                <h2 class="h2" style="font-size: 30px;">Contribute code</h2>
                <p>One of the best ways of helping Acton development is to start using Acton for writing your programs and reporting on any bugs found or the overall experience.</p>
                <p>You are of course more than welcome to make direct contributions too, e.g. writing documentation, designing this web page, hacking on the actonc compiler or expanding the standard library.</p>
                <p>Come help us make Acton better!</p>
            </div>
        </section>
    </main>


    {% block footer %}
    <footer>
        <small class="subtext">
            <a href="https://www.acton-lang.org">Acton-lang.org</a> © 2021
        </small>
    </footer>
    {% endblock footer %}
</body>
<script>
    function highlightNav(heading) {
        let pathname = location.pathname;
        document.querySelectorAll(".toc a").forEach((item) => {
            item.classList.remove("active");
        });
        document.querySelector(".toc a[href$='" + pathname + "#" + heading + "']").classList.add("active");
    }

    let currentHeading = "";
    window.onscroll = function () {
        let h = document.querySelectorAll("h1,h2,h3,h4,h5,h6");
        let elementArr = [];

        h.forEach(item => {
            if (item.id !== "") {
                elementArr[item.id] = item.getBoundingClientRect().top;
            }
        });
        elementArr.sort();
        for (let key in elementArr) {
            if (!elementArr.hasOwnProperty(key)) {
                continue;
            }
            if (elementArr[key] > 0 && elementArr[key] < 300) {
                if (currentHeading !== key) {
                    highlightNav(key);
                    currentHeading = key;
                }
                break;
            }
        }
    }
</script>

</html>
